<div class="container">
  <h1>Welcome to {{ title }}!</h1>

  <form [formGroup]="angForm" novalidate>
    <div class="form-group">
      <label>Name:
        <input type="text" class="form-control" formControlName="name" />
      </label>

    <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <!-- touched but not entered-->
        <!-- user blurs the input field without any values -->
        <div *ngIf="angForm.controls['name'].errors.required">Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Surname: 
        <input type="text" class="form-control" formControlName="surname" />
    </label>
    <div *ngIf="angForm.controls['surname'].invalid && (angForm.controls['surname'].dirty || angForm.controls['surname'].touched )" class="alert alert-danger">
      <div *ngIf="angForm.controls['surname'].hasError('pattern')">Only letters</div>
      <div *ngIf="angForm.controls['surname'].hasError('minlength')">Min length is 5 letters</div>
      <div *ngIf="angForm.controls['surname'].errors.required">Surname is required</div>
    </div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success">Save</button>
    </div>
  </form>

  <p>Form value: {{ angForm.value | json }}</p>
  <p>Form status: {{ angForm.status | json }}</p>
</div>